.filter {flex-wrap: wrap;font-weight: 600;font-family: 'DIN-Text-Thin', Arial, sans-serif;display:flex;color:#000033;font-size: 14px;justify-content: space-between;width: 100%;border-bottom: 2px solid #E1E1E1 !important;padding-bottom: 30px;margin: -30px 0 60px 0;}
.filter>div{display: flex;flex-wrap: wrap;align-items: center;}
.filter>div.seriesN{display:none;}
.nameF{text-transform:uppercase; padding:0 15px 0 0;}
.count{
    color: rgb(0 0 51 / 30%);
    text-align: left;
    }

.fBlock{
    width: 213px;
    border: 1px solid #B3B3C2;
    padding: 0 15px 0 0;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}
.fBlock:hover{border-color:#000033;border-radius: 5px 5px 0 0;}
.fBlock:hover .first:before{background: #000033;}
.fBlock:hover .first:after{
    transform: rotate(180deg);
}
.fBlock:hover .lift{display:block;}
.fBlock label input{ display:none;}
.fBlock label.current,.fBlock label:hover{color:#F1592A;}
.fBlock label{display: flex;cursor:pointer;height:40px;align-items: center;padding: 0 0 0 15px;}
.first{
    position: relative;
}
.first:before{content:'';width:1px;height:14px;background: #B3B3C2;right: 14px;position: absolute;transition: all 0.3s;}
.first:after{content:'';background:url(/local/templates/lightup/components/bitrix/catalog.section/products_row/images/gala.svg);width: 7px;height: 4px;position: absolute;right: 0;display: block;transition: all 0.3s;}
.lift{z-index: 2;position:absolute;display: none;left: -1px;/* padding-left: 15px; */border: 1px solid;border-radius: 0 0 5px 5px;width: 100%;transition: .3s;background: #fff;}
.navs{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 11px 30px 0;
}
.navs a{
    text-decoration: none;
    color: #F1592A;
}
.navs b{
    background: #FDE6DF;
    color: #F1592A;
    font-weight: 700;
}

.navs a:hover{background:#F1592A; color:#fff}
.navs a.st{    width: 38px;
    height: 38px; border:1px solid #000;color:#000}
.navs a.st:hover{background:none; color:#000}
.navs>*{
	transition:.3s;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 4px;
	font-size: 14px;
	margin: 0 7px;
}
@media screen and (max-width: 450px){
	@media screen and (max-width: 450px){
		.navs .number{display:none;}	
		.nameF{margin-left: 15px;font-size:12px; margin-bottom:10px; width:100%;}
		.filter>div	{flex-flow: column;margin-bottom: 10px;}
		.count{    padding-top: 37px;}
		.filter{font-weight:500;}
	}
}

body .catalog-container .products-list .p-list .p-item{
	width: calc(33% - 15px);
	padding: 0;
	
    margin-bottom: 30px;
}
.p-list{display:flex;  justify-content: space-between;  flex-wrap: wrap;}
body .catalog-container .products-list .p-list .p-item a .img{
	padding: 4px 0;
	min-width: auto;
	width: 100%;
	height: 180px;
	text-align: center;
	border-bottom: 2px solid #E1E1E1;
}
body .catalog-container .products-list .p-list .p-item a{ flex-wrap: wrap;}
body .catalog-container .products-list .p-list .p-item a .img img{
    height: auto;
    max-height: 100%;
    width: auto;
}
body  .catalog-container .products-list .p-list .p-item a .info h2{padding: 30px 0 30px 13px;}
.fox-a{line-height:60px; font-size:14px; color:#fff; text-transform:uppercase; background:#F1592A; text-align:center; width:100%;    height: 60px;
    margin: auto 0 0 0;}

body .catalog-container .products-list .p-list .p-item a .info {
    width: 100%;
}

.xarakt{
    padding: 0 13px;
    font-family: HelveticaNeueCyrLight, Arial, sans-serif;
}
.xarakt>div{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 0 0 15px 0;
    position: relative;
}
.xarakt>div:before{content:"";position: absolute;width: 100%;z-index: -1;color: #000;height: 3px;font-size: 14px;border-bottom: 1px dotted;bottom: 4px;}
.xarakt .one{
    font-weight: 100;
    background: #fff;
}
.xarakt .two{font-weight: 600;background: #fff;}
body .catalog-container .products-list .p-list:after {
        content: "";
        /* flex: auto; */
        justify-content: flex-start;
        width: calc(33% - 15px);
        }
body .catalog-container .left-sidebar ul.left-menu li{
    margin: 0 0 2px 0;
}
body .catalog-container .left-sidebar ul.left-menu li a{
	background: #F7F7F7;
	color: #090909;
	font-size: 17px;
	height:60px;
	padding: 0 10px;
	align-items: center;
	display: flex;
	border: 0;
	font-family: HelveticaNeueCyrLight, Arial, sans-serif;
}
body .catalog-container .left-sidebar ul.left-menu li a:hover{
	background: #FDE6DF;
	color: #F1592A;
	border:0;
}
body .catalog-wrap-cont .breadcrumb{text-align:left;}
body .catalog-wrap-cont .breadcrumb ul li a{text-decoration:none;}
body .catalog-wrap-cont .breadcrumb ul li .bold{color: #f1582a;}
body .catalog-wrap-cont .breadcrumb ul li a:hover{font-weight:600;color: #090909;}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-bottom:15px;
}

.buttons a,.buttons:after{height: 40px;color: #4C4C4C;font-size: 12px;text-transform: uppercase;background: #F7F7F7;font-family: HelveticaNeueCyrLight, Arial, sans-serif;display: flex;align-items: center;padding: 0 15px;text-decoration: none;margin: 0 0px 15px 0;width: calc(25% - 60px);text-align: center;justify-content: center;}
.buttons a:hover{background: #FDE6DF;color: #F1592A;}
.buttons:after {
        content: "";
        background: none;
        }
		
.boldPrice{font-family: helveticaneuecyrM, Arial, sans-serif;}